.navigation {  
  @include flex();

  font-weight: 600;

  li {
    margin-right: 20px;
  }

  .nav-item {
    position: relative;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
      background-color: $not-active-nav;
      border: none;
      border-radius: 15px;      
    }  
  }

  .sub-nav {
    @include flex($align: flex-start, $direction: column);
    position: absolute;      
    left: 0px;
    top: 40px;
    z-index: 3;   

    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 4px 12px 0 rgb(0 0 0 / 6%);
    border-radius: 15px;    

    li {
      margin-right: 0;     
    }

    .nav-item {      
      &:hover {
        color: $title-color;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}
