$main-font: 'Exo 2';
$title-color: #835db3;
$text-color: #b8b8b8;
$error-text-color: #c92929;

$not-active-nav: #eae8ed;
$active-nav: #835db3;

$not-active-button: #835db3;
$active-button: #7b49b8;

$not-active-pagination-item: #b8b8b8; 
$active-pagination-item: #835db3;


$description-title-font-size: 64px;
$description-button-font-size: 28px;
$description-text-book-title-font-size: 48px;
$authorization-button-font-size: 24px;
$input-form-font-size: 16px;
$error-text-font-size: 14px;

$header-background: white; 

$rslang-description-section-background: white; 

$text-book-section-background: white;

$mini-games-section-background: white;
$mini-games-title-color: white;
$game-sprint-card-background: #f4876d;
$game-audio-call-card-background: #70d9b2;

$about-section-background: white;

$footer-background: #171717;


$sprint-main-background: #2e9e8a;


$textbook-main-background: #ffd7a9;
$text-book-category-background: white;

$textbook-pagination-background: white;

