body {
  position: relative;
  font-family: $main-font, 'sans-serif';
  font-size: 18px;
  transition: all 0.5s;  
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.title {
  font-size: 48px;
  color: $title-color;
}

.description {
  color: $text-color;
}